- hosts: "{{ hosts }}"

tasks:

  - name: Get disk Usage
    command: df -h
    register: disk_usage

  - name: Check disk space available
    shell: df -h / | awk 'NR==2 {print $5}'
    register: disk_usage

    #send teams notificaiton using webhook
  - name: Send Teams Message
    url:
      url: ""
      method: POST
      body_format: json
      body: '{"content": "Disk space on {{ inventory_hostname }} is above 80%!"}'
      headers:
        Content-Type: application/json
      status_code: 204
    when: disk_usage.stdout[:-1]|int > 80